<script type="text/javascript"><!--
  google_ad_client = "ca-pub-1040110753137929";
  /* veritical narrow */
  google_ad_slot = "4549813605";
  google_ad_width = 120;
  google_ad_height = 600;
  //-->
</script>
<script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
<script type="text/javascript"><!--
  google_ad_client = "ca-pub-1040110753137929";
  /* vertical words */
  google_ad_slot = "1317145600";
  google_ad_width = 120;
  google_ad_height = 90;
  //-->
</script>
<script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
